@page
@model IndexModel
@{
    ViewData["Title"] = "Youtube Playlist Sort";
}

<button onclick="authenticate().then(loadClient)">authorize and load</button>
<button onclick="execute()">execute</button>
