@page
@model IndexModel
@{
    ViewData["Title"] = "Youtube Playlist Sort";
}

<!--<button onclick="authenticate().then(loadClient)">authorize and load</button> -->
<button onclick="initClient()">Initialize Gapi</button>
<button onclick="initGis()">Initialize GIS</button>
<button onclick="execute()">Run</button>
